*{
    font-family: "Montserrat",sans-serif; 
    scroll-behavior: smooth;
    
}
body{
    background-color: black;
}

.container{
    padding: 0 0px;
    
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }

.dark-bg{
    background-color: black;
}
.nav-link{
    font-weight: 600;
    font-size: 15px;
}


.home-background{
    height: 100vh;
    min-height: 500px;
    background: url("assets/home-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.home{
    padding-right: 55px;
    padding-left: 55px;
    position: absolute;
    top:50%;
    transform: translateY(-43%);
}
.home-contents{
    max-width: 500px;
}
.home-heading{
    color: white;
    font-weight: 800;
    font-size: 51px;
}

.home-para{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.contact-btn{
    margin-top: 23px;
    border: 3px solid white;
    border-radius: 30px;
    transition: 0.2s ease-in-out;

}
.contact-btn:hover{
    background-color: #172832;
    border: 3px solid #172832;
}

.contact-btn-para{
    color: white;
    font-size: 19px;
    font-weight: 500;
    padding-left: 110px;
    padding-right: 110px;
    
}
a:hover{
    text-decoration: none;
}
.heading{
    font-weight: 800;
    color:white ;
    font-size: 48px;
}

.paragraph{
    color: white;
    font-size:17px;
    
}

.about-col{
    padding:0 0px;
}
.about-box{
    margin:10px;
    
}

.about-box-heading{
    color: white;
    font-weight: 700;
    font-size: 25px;

}



.heading-services{
    font-size: 19px;
    font-weight: 800;
    color: white;
    position: absolute;
    left:20px;
    bottom:30px;
}

.test-col{
    background-color: #262626;
    border-radius: 28px;
    min-height:270px;
    margin:12px;
    transition: 0.25s ease-in-out;
}
.test-col:hover{
    transform: scale(1.04);
}


.quote{
    color: white;
    font-size: 13px;
    margin-bottom: 20px;
    
}

.quote-box{
    padding:20px;
}

.circle{
    width:210px;
    height: 210px;
    border-radius: 150px;
    background:url("assets/ubisoft\ bg.jpg");
    background-size: cover;
    position: absolute;
    right:-140px;
    top:50%;
    transform: translateY(-54%);
}

.circle2{
    width:210px;
    height: 210px;
    border-radius: 150px;
    background:url("assets/xbox\ bg.jpg");
    background-size: cover;
    position: absolute;
    right:-140px;
    top:50%;
    transform: translateY(-54%);
}

.logo{
    width:160px;
    height: 160px;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.gallery-img{
    height:200px;
    padding:13px;
    transition: 0.25s ease-in-out;
}

.gallery-img:hover{
    transform: scale(1.3);
    z-index: 9;
}
.dark-input{
    background-color: black !important;
    border:0;
    border-bottom: 1px solid #768185;
    border-radius: 0;
    margin-top:20px;
    text-decoration: none;
    color: white;
    outline:none !important;
    
}
.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
} 

.btn-grey{
    background-color: #353942;
    color: white !important;
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    transition: 0.2s ease-in-out;
}

.btn-grey:hover{
    background-color: #b4b4b4;
    color: black !important;
    
}

.contact-img{
    width: 200px;
    position: absolute;
    left:30%;
    top:40%;
   

}

.footer-head{
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-para{
    color:#b4b4b4;
    font-weight: 500;
    font-size: 15px;
}

.footer-icon{
    color:#b4b4b4;
    font-size: 20px;
    position: relative;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    transition: 0.2s ease-in-out;
    
}
.footer-icon-box:hover{

    background-color: #b4b4b4;
    
}
.footer-icon-box:hover .footer-icon{
    color: black;
    
}

.footer-icon-box{
    width: 39px;
    height: 39px;
    border-radius: 40px;
    border: 1px solid #b4b4b4 ;
    margin:7px;
    transition: 0.2s ease-in-out;
}

.sbox{
    transition: 0.27s ease-in-out;
    
}
.sbox:hover{
    transform: scale(1.15);
    z-index: 99;
}

#home-content{
    opacity: 0;
}

#navbar{
    opacity: 0;
    z-index: 99;
}

#about{
    opacity: 0;
}

#services{
    opacity: 0;
}
#portfolio{
    opacity: 0;
}
#contacts{
    opacity: 0;
}
#testl{
    opacity: 0;
}
#testr{
    opacity: 0;
}


#test{
    overflow-x: hidden;
    overflow: hidden;
}

@media (max-width:991px){
    .home-heading{
        color: white;
        font-weight: 800;
        font-size: 40px;
    }
    
    .home-para{
        color: white;
        font-size: 15px;
        font-weight: 500;
    }

    .contact-btn-para{
        color: white;
        font-size: 19px;
        font-weight: 500;
        padding:20px;
        
    }

    .heading{
        font-weight: 800;
        color:white ;
        font-size: 40px;
    }
    
    .paragraph{
        color: white;
        font-size:16px;
        margin: 20px;
        text-align: left;
        
    }

    .sbox{
        transition: 0.27s ease-in-out;
        margin: 25px;
    }
    .sbox:hover{
        transform: scale(1);
        z-index: 99;
    }

    .test-col:hover{
        transform: scale(1);
    }

    .gallery-img{
        margin:20px
    }

    .gallery-img:hover{
        transform: scale(1);
    }
    .row{
        margin: 0;
    }
    .home{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .about-box{
        margin:20px;
        
    }
    .quote-box{
        padding:0;
    }
    .quote-box .paragraph{
        margin:5px;
    }
    ul{
        padding:0;
        margin-left: 0;
    }
    .footer-icon-box{
        width: 39px;
        height: 39px;
        border-radius: 40px;
        border: 1px solid #b4b4b4 ;
        margin:4px;
        transition: 0.2s ease-in-out;
    }
    
    
 }